<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Log in</title>
    </head>
    
    <body class="textcenter">
        {% if form.errors %}
            <p style="color: red">ユーザー名とパスワードが一致しません</p>
        {% endif %}
    <form method="post">
        {% csrf_token %}
        <h1>Please sign in</h1>
        
        <label for="Username" class="visually-hidden">User name</label>
        
        <input type="text" name="username" id="id_username" maxlength="150" autocapitalize="none" autocomplete="username" class="form-control" placeholder="ユーザー名" required autofocus>
        
        <label for="Password" class="visually-hidden">Password</label>
        
        <input type="password" name="password" id="id_password" autocomplete="current-password" class="form-control" placeholder="パスワード" required autofocus>
        
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="ログイン">
        
        <br><br>
        <p><a href="{% url 'password_reset' %}">パスワードを忘れましたか?</a></p>
        <input type="hidden" name="next" value="{% url 'techtwitapp:index' %}">
    </form>
    </body>
</html>