<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Reset password</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <hr>
                <h3>パスワードをリセットしますか?</h3>
                <p>
                登録済みのメールアドレスを入力して下さい。
                パスワードリセットのリンクを記載したメールをすぐにお届けします。
                </p>
                <br>
                
                <form action="" method="POST" class="text-center">
                    {% csrf_token %}
                    {{form}}
                    
                    <input type="submit" value="メールを受け取る" /><br>
                </form>
                <br>
                <a href="{% url 'techtwitapp:index' %}">トップページ</a>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>