<!doctype html>
<html lang="ja">
    <head>
        <style>
            .pad{
              background-color: lavender;
              border: solid 2px;
              padding-top: 30px;
              padding-bottom: 50px;
              padding-left: 100px;
              margin-top: 50px;
              margin-right: 70px;
              margin-left: 70px;
            }
        </style>
    </head>
    
    <body>
        <div class="pad">
            <h2>ひとくち技術録</h2>
            <h4>
                新しいパスワードを、確認も含め2回入力してください。
            </h4>
            <br />
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                
                <input type="submit" value="パスワードリセット"/>
            </form>
        </div>
    </body>
</html>