<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="utf-8">
    <title>Send password reset</title>
    </head>
    
    <body>
    <br>
        <div class="container">
            <div class="row">
                <div class="col offset-2 py-4">
                    <h5>パスワードリセットの手順をメールで送信しました。</h5>
                    <br>
                    <h6>メールが届かない場合は、登録済みのアドレスであるかを確認し、迷惑メールフォルダーもかくにんしてみてください。</h6>
                    
                    <a href="{% url 'techtwitapp:index' %}">トップページ</a>
                </div>
            </div>
        </div>
    </body>
</html>