
<!DOCTYPE html>
<html lang='ja'>
    <head>
        <meta charset="utf-8" />
     
    </head>
    
    <body>
        <div class="container">
            <div class="row">
                <div class="col offset-4 py-4">
                    <h3>サインアップ</h3>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <input type="submit" value="Sign up">
                    </form>
                    <br>
                    <p><a href="{% url 'techtwitapp:index' %}">登録をやめてトップページに戻る</a></p>
                </div>
            </div>
        </div>
    </body>
</html>