{% extends 'base.html' %}

{% load static %}
{% block title %}Mypage{% endblock %}
        {% block header %}
    
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                        {% if user.is_authenticated %}
                            <h2>{{user.username}}さんのマイページ</h2>
                            {% if object_list.count == 0 %}
                                <p>{{user.username}}さんの投稿はありません</p>　　
                            {% else %}
                                <p>投稿<strong>{{object_list.count}}</strong>件</p>
                            {% endif %}
                            
                        {% endif %}　　　　　　　　　　　
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        
        {% block contents %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for record in object_list %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'techtwitapp:record_detail' record.pk %}">
                            <h2 class="post-title">{{record.title}}</h2>
                            <h3 class="post-subtitle">
                                <span style="font-size : 14pt">
                                    {{record.question|truncatechars:50}}
                                </span>
                            </h3>
                        </a>
                        <p class="post-meta">
                            <a href="#">Repsheep</a>
                            
                            {{record.posted_at}}に投稿/カテゴリ:
                            
                            {{record.category}}</p>
                        </p>
                    </div>
                    {% endfor %}
                 
                    <!-- Pager-->
                    {% include "pagination.html" %}
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- Footer-->
        