{% extends 'base.html' %}
{% load static %}

{% block title %}Repsheep{% endblock %}
        {% block header %}
        <!-- Page Header-->
        <<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{object.title}}</h1>
                            <span class="meta">
                                <a href="{% url 'techtwitapp:index' %}">ひとくち技術録</a>
                                {{object.posted_at}}に投稿/カテゴリ:
                                {{object.category}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        <!-- Post Content-->
        {% block contents %}
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>課題・解決したいこと</h3>
                        <p>{{object.question | linebreaksbr}}</p>
                        <h3>解決方法</h3>
                        <p>{{object.answer | linebreaksbr}}</p>
                        {% if request.user == object.user %}
                        <form method="POST">
                        <a href="{% url 'techtwitapp:record_delete' object.pk %}" class="btn btn-primary my-2">削除する</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <hr>
        
        {% endblock %}
        