{% extends 'base.html' %}

{% load static %}
{% block title %}Record Delete{% endblock %}
        {% block header %}
    
        <!-- Page Header-->
        
        {% endblock %}
        
        {% block contents %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <form method="POST">
                        <br>
                        <p>削除してもいいですか?</p>
                        {% csrf_token %}
                        <button class="btn btn-primary my-2" type="submit">削除</button>
                        <a href="{% url 'techtwitapp:mypage' %}" class="btn btn-secondary my-2">キャンセル</a>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- Footer-->
        